**/target/
*.class
*.jar
*.war
!**/.mvn/wrapper/maven-wrapper.jar

*.log
HELP.md

*.db
*.mv.db
*.trace.db

node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/

.idea/
*.iml
.vscode/
.settings/
.project
.classpath

.DS_Store
Thumbs.db
desktop.ini
.env
